# 第三方包安装指南
# 1. 安装 torch
# pip install torch==2.9.0 torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126
# 2. 安装trl 0.27.0.dev0（最新开发版）
# git clone https://github.com/huggingface/trl.git
# cd trl/
# pip install -e .
transformers==4.57.3
datasets==4.4.2
wandb==0.23.1
accelerate==1.12.0
deepspeed==0.18.3
scipy
numpy
tqdm
modelscope